<div id="header" ng-hide="header.shared.isUrl()" ng-controller="headerController as header">

    <!--<div class="icon-container" ng-click="app.navigation.goBack()" >
        <i class="icon icon-back"></i>
    </div>-->
    <div class="icon-container" ng-click="header.back()" ng-show="header.navigation.canGoBack() && header.device.isWindows()"  ng-class="{'moveRightHeader' : header.shared.notificationDocked}">
        <i class="icon icon-back2"></i>
    </div>
    <div class="title" ng-class="{'moveRightHeader' : header.shared.notificationDocked && !(header.navigation.canGoBack() && header.device.isWindows())}">{{header.shared.categoryTitle}}</div>
    <div class="pull-right">
        <div class="profile">
            <div class="details">
                <p ng-cloak>{{header.shared.selectedProfile.displayName}}</p>
                <small ng-show="header.shared.profile.selectedProfileGroup.categoryName">{{header.shared.profile.selectedProfileGroup.categoryName}}</small>
            </div>
           <!-- <div class="details">
                <p ng-show="userInfo.name" ng-cloak>{{ userInfo.name }}</p>
                <p ng-show="userInfo.profile" ng-cloak>{{ userInfo.profile.name }}</p>
                <small ng-cloak>{{ userInfo.upn }}</small>
                <small ng-cloak>{{ userInfo.userName }}</small>
            </div>
            <div class="icon-container pad0 user-photo">
                <div class="user-photo-blank" ng-hide="thumbnailPhoto">
                    <i class="icon icon-account-outline"></i>
                </div>
                <img class="icon iconDisplayImage" ng-csp ng-show="thumbnailPhoto" ng-src="data:image/jpeg;base64,{{thumbnailPhoto}}" />
                <div class="user-status-notifier" ng-if="app.device.isWindows()==true">
                   
                    <div class="status" ng-class="{'available': isUserOnline, 'offline': !isUserOnline }">
                        <i class="icon icon-accept2" ng-show="isUserOnline"></i>
                        <i class="icon icon-accept2" ng-show="isUserOnline"></i>
                    </div>
                </div>
            </div>-->
        </div>
    </div>
    <div class="clearfix"></div>
</div>